/* Page Banner */

.page-banner {
    min-height: 250px;
    // background: #f1f2f8;
    background: rgb(230,233,255);
    background: linear-gradient(90deg, rgba(230,233,255,1) 0%, rgba(241,242,248,1) 36%, rgba(213,193,255,1) 100%);
}